interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/?oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446151934
  response:
    body: {string: !!python/unicode '{"error": {"text": "One or more parameters are
        missing in request", "id": "MISSING_PARAMETER", "field": "business_id"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, 10-64-65-54-uswest1aprod]
      x-proxied: [10-64-16-137-uswest1bprod]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/yelp-san-francisco?oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446151934
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 2.5, "mobile_url":
        "http://m.yelp.com/biz/yelp-san-francisco", "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png",
        "review_count": 7553, "name": "Yelp", "rating_img_url_small": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png",
        "url": "http://www.yelp.com/biz/yelp-san-francisco", "categories": [["Local
        Flavor", "localflavor"], ["Mass Media", "massmedia"]], "reviews": [{"rating":
        5, "excerpt": "Yelp rules!! I''m pretty sure their star rating is low because
        of the crap businesses that are angry because their horrible products/services
        have been outed...", "time_created": 1446148007, "rating_image_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "rating_image_small_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "user": {"image_url": "http://s3-media3.fl.yelpcdn.com/photo/dhmDllG77_qMXYeo7Ek55A/ms.jpg",
        "id": "LCtohr2FPQTZeqaClhDoLA", "name": "Denise F."}, "rating_image_large_url":
        "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "v1pYus13mmkTHWG_9aSIWw"}], "phone": "4159083801", "snippet_text": "OMG
        people, Yelp is NOT suing South Park- it''s actually all an internet hoax!
        I''m reading recent reviews and I''m humored at how many are mentioning the...",
        "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/nQK-6_vZMt5n88zsAS94ew/ms.jpg",
        "snippet_image_url": "http://s3-media1.fl.yelpcdn.com/photo/Kl6KGi0w25-iT-31V3YpVg/ms.jpg",
        "display_phone": "+1-415-908-3801", "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/d63e3add9901/ico/stars/v1/stars_large_2_half.png",
        "id": "yelp-san-francisco", "is_closed": false, "location": {"cross_streets":
        "Natoma St \u0026 Minna St", "city": "San Francisco", "display_address": ["140
        New Montgomery St", "Financial District", "San Francisco, CA 94105"], "geo_accuracy":
        9.5, "neighborhoods": ["Financial District", "SoMa"], "postal_code": "94105",
        "country_code": "US", "address": ["140 New Montgomery St"], "coordinate":
        {"latitude": 37.7867703362929, "longitude": -122.399958372115}, "state_code":
        "CA"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, 10-64-143-94-uswest1bprod]
      x-proxied: [10-64-16-137-uswest1bprod]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/does-not-exist?oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446151935
  response:
    body: {string: !!python/unicode '{"error": {"text": "Business information is unavailable",
        "id": "BUSINESS_UNAVAILABLE"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, web31-uswest1bprod]
      x-proxied: [10-64-16-237-uswest1bprod]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/weingalerie-und-caf%C3%A9-n%C3%B6-berlin?oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446151935
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/weingalerie-und-caf%C3%A9-n%C3%B6-berlin", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        [...]
