interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=29598229&oauth_signature=YGe70jbzbEZlhBLFa%2BChzwHMHqY%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144765
  response:
    body: {string: !!python/unicode '{"error": {"text": "One or more parameters are
        missing in request", "id": "MISSING_PARAMETER", "field": "business_id"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, 10-64-65-55-uswest1aprod]
      x-proxied: [10-64-16-237-uswest1bprod]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/yelp-san-francisco?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=54587994&oauth_signature=usrhbgvQmRh3qCBF1vAdXfUPPqg%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144765
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 2.5, "mobile_url":
        "http://m.yelp.com/biz/yelp-san-francisco", "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png",
        "review_count": 7551, "name": "Yelp", "rating_img_url_small": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/8e8633e5f8f0/ico/stars/v1/stars_small_2_half.png",
        "url": "http://www.yelp.com/biz/yelp-san-francisco", "categories": [["Local
        Flavor", "localflavor"], ["Mass Media", "massmedia"]], "reviews": [{"rating":
        3, "excerpt": "The biggest draw for me personally to yelp is the fact its
        a free to use site. The biggest problem I have with yelp is they keep taking
        down my pictures...", "time_created": 1446137462, "rating_image_url": "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/34bc8086841c/ico/stars/v1/stars_3.png",
        "rating_image_small_url": "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/902abeed0983/ico/stars/v1/stars_small_3.png",
        "user": {"image_url": "http://s3-media1.fl.yelpcdn.com/photo/MThiUUKLmPFrv4Xkwepj2w/ms.jpg",
        "id": "Fd_DqkXJErkgkWBehu_Y5g", "name": "Illegal S."}, "rating_image_large_url":
        "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/e8b5b79d37ed/ico/stars/v1/stars_large_3.png",
        "id": "vItjCwCKn7WzvOai3ecBZQ"}], "phone": "4159083801", "snippet_text": "OMG
        people, Yelp is NOT suing South Park- it''s actually all an internet hoax!
        I''m reading recent reviews and I''m humored at how many are mentioning the...",
        "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/nQK-6_vZMt5n88zsAS94ew/ms.jpg",
        "snippet_image_url": "http://s3-media1.fl.yelpcdn.com/photo/Kl6KGi0w25-iT-31V3YpVg/ms.jpg",
        "display_phone": "+1-415-908-3801", "rating_img_url_large": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/d63e3add9901/ico/stars/v1/stars_large_2_half.png",
        "id": "yelp-san-francisco", "is_closed": false, "location": {"cross_streets":
        "Natoma St \u0026 Minna St", "city": "San Francisco", "display_address": ["140
        New Montgomery St", "Financial District", "San Francisco, CA 94105"], "geo_accuracy":
        9.5, "neighborhoods": ["Financial District", "SoMa"], "postal_code": "94105",
        "country_code": "US", "address": ["140 New Montgomery St"], "coordinate":
        {"latitude": 37.7867703362929, "longitude": -122.399958372115}, "state_code":
        "CA"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, web31-uswest1aprod]
      x-proxied: [10-64-16-137-uswest1bprod]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/does-not-exist?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=71346602&oauth_signature=MHEAAk5GT%2BxW6kfxq7H6lctogWY%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144766
  response:
    body: {string: !!python/unicode '{"error": {"text": "Business information is unavailable",
        "id": "BUSINESS_UNAVAILABLE"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, 10-64-143-94-uswest1bprod]
      x-proxied: [10-64-16-217-uswest1bprod]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/weingalerie-und-caf%C3%A9-n%C3%B6-berlin?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=28528463&oauth_signature=FsgeWnW6NbwzvUp2aPvAZFUgSVE%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144766
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/weingalerie-und-caf%C3%A9-n%C3%B6-berlin", "rating_im[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=07483557&oauth_signature=f4NBeoGtFN12RCGigb9zqbNe8fQ%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144976
  response:
    body: {string: !!python/unicode '{"error": {"text": "One or more parameters are
        missing in request", "id": "MISSING_PARAMETER", "field": "business_id"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, 10-64-142-23-uswest1bprod]
      x-proxied: [10-64-0-245-uswest1aprod]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/yelp-san-francisco?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=53270800&oauth_signature=PjdqSu0UuotcwKyLdN156F9EOzM%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144976
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 2.5, "mobile_url":
        "http://m.yelp.com/biz/yelp-san-francisco", "rating_img_url": "http://s3-media4.fl.yelpcdn.com/ass[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/does-not-exist?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=64574073&oauth_signature=I1qWAStnU2G3rKdYFIzSwmIl7FU%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144977
  response:
    body: {string: !!python/unicode '{"error": {"text": "Business information is unavailable",
        "id": "BUSINESS_UNAVAILABLE"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, 10-64-129-159-uswest1bprod]
      x-proxied: [10-64-0-245-uswest1aprod]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/weingalerie-und-caf%C3%A9-n%C3%B6-berlin?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=26270968&oauth_signature=eBPOHNeZa4fF6TgFOuDzhrWsJlI%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144977
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/weingalerie-und-caf%C3%A9-n%C3%B6-berlin", "rating_im[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/yelp-san-francisco?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=46189466&oauth_signature=iF6Y2A%2BC4mWhlHuKn6%2BPk%2F2fsQs%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446148683
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 2.5, "mobile_url":
        "http://m.yelp.com/biz/yelp-san-francisco", "rating_img_url": "http://s3-media4.fl.yelpcdn.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/weingalerie-und-caf%C3%A9-n%C3%B6-berlin?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=60813699&oauth_signature=ixN4dPdhb%2Fx29DnewUI1A0OYpR0%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446148684
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/weingalerie-und-caf%C3%A9-n%C3%B6-berlin", "rating_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/yelp-san-francisco?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=47211120&oauth_signature=8Le%2FlW4HDL5%2BmwPx8a4m28fapq4%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446148761
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 2.5, "mobile_url":
        "http://m.yelp.com/biz/yelp-san-francisco", "rating_img_url": "http://s3-media4.fl.yelpcdn.com[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/weingalerie-und-caf%C3%A9-n%C3%B6-berlin?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=22886510&oauth_signature=hQfIleZ3FhYfxT8ypojnrNeWVxg%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446148761
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/weingalerie-und-caf%C3%A9-n%C3%B6-berlin", "rating_im[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=46428917&oauth_signature=5JgSVUBsWjKqR%2BT%2FCfsfFnVhEPU%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446148778
  response:
    body: {string: !!python/unicode '{"error": {"text": "One or more parameters are
        missing in request", "id": "MISSING_PARAMETER", "field": "business_id"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, web11-r2-sfo2]
      x-proxied: [extlb1-r4-sfo2]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/yelp-san-francisco?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=63858112&oauth_signature=5JVUKrYDK32%2FbCaL3zjWXq%2Bx1Zg%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446148778
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 2.5, "mobile_url":
        "http://m.yelp.com/biz/yelp-san-francisco", "rating_img_url": "http://s3-media4.fl.yelpcdn.com[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/does-not-exist?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=42014764&oauth_signature=ogH0qfwaWolLlXqr59Xxdvt8tUI%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446148779
  response:
    body: {string: !!python/unicode '{"error": {"text": "Business information is unavailable",
        "id": "BUSINESS_UNAVAILABLE"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, web29-r1-sfo2]
      x-proxied: [extlb1-r4-sfo2]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/weingalerie-und-caf%C3%A9-n%C3%B6-berlin?oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=65855568&oauth_signature=UzIIF4KAM3wN29PNaH9sftxVFXw%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446148779
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/weingalerie-und-caf%C3%A9-n%C3%B6-berlin", "rating_im[...]
