interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?location=San+Francisco%2C+CA&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=54772052&oauth_signature=qwuGJd90NaWn5%2BIRoBSkniUT57A%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144766
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.04673735000000079,
        "longitude_delta": 0.05231922350600371}, "center": {"latitude": 37.76832975,
        "longitude": -122.41716843477}}, "total": 52040, "businesses": [{"is_claimed":
        true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/the-flying-falafel-san-francisco-3",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 372, "name": "The Flying Falafel", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/the-flying-falafel-san-francisco-3", "categories":
        [["Falafel", "falafel"], ["Vegan", "vegan"]], "menu_date_updated": 1446110458,
        "phone": "4159641003", "snippet_text": "Seriously obsessed with this falafel
        shop (it doesn''t hurt that the owner is also from Puerto Rico and blasts
        some of my favorite reggaeton music, but I...", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/jlzz6k3zJX0ypKpOwXn6iQ/ms.jpg",
        "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/DK4EqeX7rfX3z1JMfvscxA/ms.jpg",
        "display_phone": "+1-415-964-1003", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "eat24", "id": "the-flying-falafel-san-francisco-3", "is_closed":
        false, "location": {"cross_streets": "Golden Gate Ave \u0026 Taylor St", "city":
        "San Francisco", "display_address": ["1051 Market St", "SoMa", "San Francisco,
        CA 94103"], "geo_accuracy": 8.0, "neighborhoods": ["SoMa"], "postal_code":
        "94103", "country_code": "US", "address": ["1051 Market St"], "coordinate":
        {"latitude": 37.7812488, "longitude": -122.411304}, "state_code": "CA"}},
        {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/tadu-ethiopian-kitchen-san-francisco-3",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 200, "name": "Tadu Ethiopian Kitchen", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/tadu-ethiopi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?limit=1&location=San+Francisco%2C+CA&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=00825603&oauth_signature=NObv3P2fhOoMfdWeIeLjJdDe2gs%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144767
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.0, "longitude_delta":
        0.0}, "center": {"latitude": 37.781123, "longitude": -122.4111618}},[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?limit=not_a_number&location=San+Francisco%2C+CA&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=88253153&oauth_signature=iAADpyRTJ3L6QEmFYVph%2BtOrNCI%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144767
  response:
    body: {string: !!python/unicode '{"error": {"text": "One or more parameters are
        invalid in request", "id": "INVALID_PARAMETER", "field": "limit"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, web56-uswest1bprod]
      x-proxied: [10-64-0-245-uswest1aprod]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?bounds=37.9%2C-122.5%7C37.788022%2C-122.399797&limit=1&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=19152069&oauth_signature=WlhUnuVokrvhGdAuw5cZsD8vH3k%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144768
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.11197800000000058,
        "longitude_delta": 0.10020299999999338}, "center": {"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?ll=37.788022%2C-122.399797&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=29259142&oauth_signature=symaJsILS7OCm18xmQh4F%2Fg1bGE%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144768
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.013486550000010311,
        "longitude_delta": 0.010758879999997362}, "center": {"latitude": 37.7895312499[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?location=San+Francisco%2C+CA&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=06714183&oauth_signature=nsbJQzkqHK0yvMN7cdbgZNn%2BM4U%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144977
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.04673735000000079,
        "longitude_delta": 0.05231922350600371}, "center": {"latitude": 37.76832975,
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?limit=1&location=San+Francisco%2C+CA&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=52112271&oauth_signature=TZhkWJR%2BCs%2BgHKKlcCkluP8p0tE%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144978
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.0, "longitude_delta":
        0.0}, "center": {"latitude": 37.781123, "longitude": -122.411161[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?limit=not_a_number&location=San+Francisco%2C+CA&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=98954273&oauth_signature=7WLpIhhsVbJE7IQXvw6fGQj2gD4%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144979
  response:
    body: {string: !!python/unicode '{"error": {"text": "One or more parameters are
        invalid in request", "id": "INVALID_PARAMETER", "field": "limit"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, web46-uswest1aprod]
      x-proxied: [10-64-0-245-uswest1aprod]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?bounds=37.9%2C-122.5%7C37.788022%2C-122.399797&limit=1&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=53257790&oauth_signature=9BtcnRqxB39a1Q2YZUjUTmK%2Bhco%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144979
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.11197800000000058,
        "longitude_delta": 0.10020299999999338}, "center": [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?ll=37.788022%2C-122.399797&oauth_body_hash=2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D&oauth_nonce=42223107&oauth_signature=8Zx171dldnOzjZxEarJ%2Ffi5TzrE%3D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446144980
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.013486550000010311,
        "longitude_delta": 0.010758879999997362}, "center": {"latitude": 37.7895312499[...]
