interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?limit=not_a_number&location=San+Francisco%2C+CA&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446229827
  response:
    body: {string: !!python/unicode '{"error": {"text": "One or more parameters are
        invalid in request", "id": "INVALID_PARAMETER", "field": "limit"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, web49-uswest1aprod]
      x-proxied: [10-64-16-137-uswest1bprod]
    status: {code: 400, message: Bad Request}
version: 1
