interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?location=Tokyo&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446229827&term=%E6%9F%93%E5%A4%AA%E9%83%8E
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.5935670954400081,
        "longitude_delta": 0.4823556210000106}, "center": {"latitude": 35.5824666096,
        "longitude": 139.754264169}}, "total": 3, "businesses": [{"is_claimed": false,
        "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/%E6%9F%93%E5%A4%AA%E9%83%8E-%E5%8F%B0%E6%9D%B1%E5%8C%BA",
        "rating_img_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 21, "name": "Sometaro", "rating_img_url_small": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/%E6%9F%93%E5%A4%AA%E9%83%8E-%E5%8F%B0%E6%9D%B1%E5%8C%BA",
        "categories": [["Okonomiyaki", "okonomiyaki"]], "phone": "+81338449502", "snippet_text":
        "This is really a fun little restaurant.\nThey mostly serve Okonomiyaki in
        many different variations but they have a few other things as well.\nThe ambiance
        is...", "image_url": "http://s3-media2.fl.yelpcdn.com/bphoto/KLOBDeCbF4pllUOlXmUGEw/ms.jpg",
        "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/bwFsZJZTGlVV0uwUgW-0aA/ms.jpg",
        "display_phone": "+81 3 3844 9502", "rating_img_url_large": "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "\u67d3\u592a\u90ce-\u53f0\u6771\u533a", "is_closed": false, "location":
        {"city": "\u53f0\u6771\u533a", "display_address": ["\u897f\u6d45\u83492-2-2",
        "\u96f7\u9580", "\u53f0\u6771\u533a, \u6771\u4eac\u90fd \u3012111-0035", "Japan"],
        "geo_accuracy": 9.5, "neighborhoods": ["\u96f7\u9580", "\u7530\u539f\u753a\u99c5"],
        "postal_code": "111-0035", "country_code": "JP", "address": ["\u897f\u6d45\u83492-2-2"],
        "coordinate": {"latitude": 35.7119854031155, "longitude": 139.790937066147},
        "state_code": "13"}}, {"is_claimed": false, "rating": 0.0, "mobile_url": "http://m.yelp.com/biz/%E6%9F%93%E5%A4%AA%E9%83%8E-%E6%9F%8F%E5%B8%82",
        "rating_img_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/04ae5eda5622/ico/stars/v1/stars_0.png",
        "review_count": 0, "name": "\u67d3\u592a\u90ce", "rating_img_url_small": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/d3cd853a8cb7/ico/stars/v1/stars_small_0.png",
        "url": "http://www.yelp.com/biz/%E6%9F%93%E5%A4%AA%E9%83%8E-%E6%9F%[...]
