interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/?oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446229808
  response:
    body: {string: !!python/unicode '{"error": {"text": "One or more parameters are
        missing in request", "id": "MISSING_PARAMETER", "field": "business_id"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, 10-64-184-71-uswest1bprod]
      x-proxied: [10-64-0-245-uswest1aprod]
    status: {code: 400, message: Bad Request}
version: 1
