interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?ll=37.788022%2C-122.399797&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446229828
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.013486550000010311,
        "longitude_delta": 0.010758879999997362}, "center": {"latitude": 37.789531249999996,
        "longitude": -122.3999794}}, "total": 19437, "businesses": [{"is_claimed":
        true, "rating": 5.0, "mobile_url": "http://m.yelp.com/biz/t-we-tea-san-francisco",
        "rating_img_url": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png",
        "review_count": 67, "name": "T-We Tea", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/Ycla9iwIXGORxNZK3yHSCA/ms.jpg",
        "rating_img_url_small": "http://s3-media1.fl.yelpcdn.com/assets/2/www/img/c7623205d5cd/ico/stars/v1/stars_small_5.png",
        "url": "http://www.yelp.com/biz/t-we-tea-san-francisco", "categories": [["Tea
        Rooms", "tea"], ["Coffee \u0026 Tea", "coffee"]], "phone": "4155002097", "snippet_text":
        "You''re Welcome.\n\nSeriously.\n\nYou''re Welcome.\n\nA visit to T-We is
        a sure thing way to manifest a better afternoon. Christopher and Keir who
        run this colorful...", "image_url": "http://s3-media4.fl.yelpcdn.com/bphoto/SeznMifru5dUbKlcdJn1DQ/ms.jpg",
        "location": {"city": "San Francisco", "display_address": ["Crocker Galleria",
        "50 Post St Level 1", "Financial District", "San Francisco, CA 94104"], "geo_accuracy":
        9.5, "neighborhoods": ["Financial District"], "postal_code": "94104", "country_code":
        "US", "address": ["Crocker Galleria", "50 Post St Level 1"], "coordinate":
        {"latitude": 37.789574, "longitude": -122.402784}, "state_code": "CA"}, "display_phone":
        "+1-415-500-2097", "rating_img_url_large": "http://s3-media3.fl.yelpcdn.com/assets/2/www/img/22affc4e6c38/ico/stars/v1/stars_large_5.png",
        "id": "t-we-tea-san-francisco", "is_closed": false, "distance": 314.13117040614816},
        {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/cafe-du-soleil-san-francisco-4",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 218, "name": "Cafe du Soleil", "snippet_image_url": "http://s3-media4.fl.yelpcdn.com/photo/L7L2k6VFat0Kv8dRgAPM-w/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/cafe-du-soleil-san-francisco-4", "categories":
        [["French", "french"], ["Salad", "salad"], ["Sandwiches", "sandwiches"]],
        "phone": "4156996154", "snippet_text": "I have to say I was blown away by
        Cafe Du Soleil.  I came here with a friend for lunch and we both immediately
        decided the Ni\u00e7oise salad was what we were...", "image_url": "http://s3-media2.fl.yelpcdn.com/bphoto/7chHUW3UnNoMKD-_lhgySQ/ms.jpg",
        "location": {"cross_streets": "Folsom St \u0026 Saint Francis Pl", "city":
        "San Francisco", "display_address": ["345 3rd St", "SoMa", "San Francisco,
        CA 94107"], "geo_accuracy": 9.5, "neighborhoods": ["SoMa"], "postal_code":
        "94107", "country_code": "US", "address": ["345 3rd St"], "coordinate": {"latitude":
        37.783401, "longitude": -122.398127}, "state_code": "CA"}, "display_phone":
        "+1-415-699-6154", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "cafe-du-soleil-san-francisco-4", "is_closed": false, "distance": 534.3786878488231},
        {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/benu-san-francisco-4",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 671, "name": "Benu", "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/2S3Z5iIRQzpUkwclQdQ0vA/ms.jpg",
        "rating_img_url_small": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/benu-san-francisco-4", "categories": [["American
        (New)", "newamerican"], ["Asian Fusion", "asianfusion"]], "menu_date_updated":
        1442074846, "phone": "4156854860", "snippet_text": "*****************************
        1446 ***************************\n\n  I''ve been here enough, but never wrote
        a review until now. The reason, Chef Corey Lee food...", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/Sd4G1bCrDxPiTh8Ukre47Q/ms.jpg",
        "location": {"cross_streets": "Howard St", "city": "San Francisco", "display_address":
        ["22 Hawthorne St", "Financial District", "San Francisco, CA 94105"], "geo_accuracy":
        9.5, "neighborhoods": ["Financial District", "SoMa"], "postal_code": "94105",
        "country_code": "US", "address": ["22 Hawthorne St"], "coordinate": {"latitude":
        37.785402, "longitude": -122.399068}, "state_code": "CA"}, "display_phone":
        "+1-415-685-4860", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "single_platform", "id": "benu-san-francisco-4", "is_closed":
        false, "distance": 298.2910773327791}, {"is_claimed": false, "rating": 4.5,
        "mobile_url": "http://m.yelp.com/biz/yerba-buena-gardens-san-francisco", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 327, "name": "Yerba Buena Gardens", "snippet_image_url": "http://s3-media3.fl.yelpcdn.com/photo/_9jWL78VGjGRFF-lDonoFg/ms.jpg",[...]
