interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/business/weingalerie-und-caf%C3%A9-n%C3%B6-berlin?oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446229809
  response:
    body: {string: !!python/unicode '{"is_claimed": true, "rating": 4.5, "mobile_url":
        "http://m.yelp.com/biz/weingalerie-und-caf%C3%A9-n%C3%B6-berlin", "rating_img_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 90, "name": "Weingalerie und Caf\u00e9 N\u00d6!", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/weingalerie-und-caf%C3%A9-n%C3%B6-berlin",
        "categories": [["Wine Bars", "wine_bars"], ["German", "german"], ["Mediterranean",
        "mediterranean"]], "reviews": [{"rating": 4, "excerpt": "Nice restaurant with
        tables outside.\nThe Votre Bavarian veal sausages were good and so were the
        2 flammkuche we had, one sweet with apples and the other one...", "time_created":
        1441232548, "rating_image_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "rating_image_small_url": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "user": {"image_url": "http://s3-media4.fl.yelpcdn.com/photo/nHtV_7xYf0tWBdqC6_g22Q/ms.jpg",
        "id": "CpnUMlvV28o1hVD-caIo2Q", "name": "Alexis B."}, "rating_image_large_url":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "id": "tKZffZsW15u40AhAA3gRRQ"}], "phone": "+49302010871", "snippet_text":
        "Located just 7 minutes walk from Gendarmenmarkt, this brasserie is perfectly
        situated. I came with my dad when it was piping 95 degrees outside - we were...",
        "image_url": "http://s3-media2.fl.yelpcdn.com/bphoto/9BoClduNENWA44K80sbM6w/ms.jpg",
        "snippet_image_url": "http://s3-media1.fl.yelpcdn.com/photo/hHh2Mc9F5Njz8dhNbqNwog/ms.jpg",
        "display_phone": "+49 30 2010871", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "id": "weingalerie-und-caf\u00e9-n\u00f6-berlin", "is_closed": false, "location":
        {"city": "Berlin", "display_address": ["Glinkastr. 23", "Mitte", "10117 Berlin",
        "Germany"], "geo_accuracy": 8.0, "neighborhoods": ["Mitte"], "postal_code":
        "10117", "country_code": "DE", "address": ["Glinkastr. 23"], "coordinate":
        {"latitude": 52.51327, "longitude": 13.38625}, "state_code": "BE"}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      x-mode: [ro]
      x-node: [api_com, web30-uswest1aprod]
      x-proxied: [10-64-0-146-uswest1aprod]
    status: {code: 200, message: OK}
version: 1
