interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.yelp.com/v2/search/?location=San+Francisco%2C+CA&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1446229826
  response:
    body: {string: !!python/unicode '{"region": {"span": {"latitude_delta": 0.04673735000000079,
        "longitude_delta": 0.05231922350600371}, "center": {"latitude": 37.76832975,
        "longitude": -122.41716843477}}, "total": 52058, "businesses": [{"is_claimed":
        true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/the-flying-falafel-san-francisco-3",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 374, "name": "The Flying Falafel", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/the-flying-falafel-san-francisco-3", "categories":
        [["Falafel", "falafel"], ["Vegan", "vegan"]], "menu_date_updated": 1446227564,
        "phone": "4159641003", "snippet_text": "Seriously obsessed with this falafel
        shop (it doesn''t hurt that the owner is also from Puerto Rico and blasts
        some of my favorite reggaeton music, but I...", "image_url": "http://s3-media3.fl.yelpcdn.com/bphoto/jlzz6k3zJX0ypKpOwXn6iQ/ms.jpg",
        "snippet_image_url": "http://s3-media2.fl.yelpcdn.com/photo/DK4EqeX7rfX3z1JMfvscxA/ms.jpg",
        "display_phone": "+1-415-964-1003", "rating_img_url_large": "http://s3-media4.fl.yelpcdn.com/assets/2/www/img/9f83790ff7f6/ico/stars/v1/stars_large_4_half.png",
        "menu_provider": "eat24", "id": "the-flying-falafel-san-francisco-3", "is_closed":
        false, "location": {"cross_streets": "Golden Gate Ave \u0026 Taylor St", "city":
        "San Francisco", "display_address": ["1051 Market St", "SoMa", "San Francisco,
        CA 94103"], "geo_accuracy": 8.0, "neighborhoods": ["SoMa"], "postal_code":
        "94103", "country_code": "US", "address": ["1051 Market St"], "coordinate":
        {"latitude": 37.7812488, "longitude": -122.411304}, "state_code": "CA"}},
        {"is_claimed": true, "rating": 4.5, "mobile_url": "http://m.yelp.com/biz/tadu-ethiopian-kitchen-san-francisco-3",
        "rating_img_url": "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png",
        "review_count": 200, "name": "Tadu Ethiopian Kitchen", "rating_img_url_small":
        "http://s3-media2.fl.yelpcdn.com/assets/2/www/img/a5221e66bc70/ico/stars/v1/stars_small_4_half.png",
        "url": "http://www.yelp.com/biz/tadu-ethiopi[...]
